<p>
  <strong>Title of the book:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Content of the book:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Published on</strong>
  <%= @book.publish_date %>
</p>
